# Analyse data

start date:
https://www.data.jma.go.jp/sakura/data/sakura003_06.html
    
full bloom:
https://www.data.jma.go.jp/sakura/data/sakura004_06.html
    
temp data:
March temp data?    
    
http://www.st.nanzan-u.ac.jp/info/gr-thesis/ms/2007/03mm081.pdf

https://www.economist.com/graphic-detail/2017/04/07/japans-cherry-blossoms-are-emerging-increasingly-early

https://www.washingtonpost.com/graphics/2018/national/early-spring/?utm_term=.5ce6e78f16a4

In [25]:
import pandas as pd
import re
import numpy as np
from datetime import datetime


import math
import statistics

import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
matplotlib.rcParams['pdf.fonttype'] = 42

%matplotlib inline

pd.set_option('display.max_columns', 100)
pd.set_option('display.width', 1000)
pd.set_option('display.max_rows', 500)

from datetime import datetime, timedelta

In [2]:
df = pd.read_csv('data/sakura_complete_just_dates.csv')

## SOMA HELP

In [3]:
cols = list(df.columns[df.columns.str.contains("_start") | df.columns.str.contains("_full")])
cols.append('city_eng')

# Let's melt those into a smaller long dataframe
melted = df[cols].melt(id_vars='city_eng', value_name='doy', var_name='year')
melted['kind'] = melted.year.str.split("_").str.get(1)
melted['year'] = melted.year.str.split("_").str.get(0)

melted.head()

    city_eng  year    doy   kind
0   Wakkanai  2011  519.0  start
1  Asahikawa  2011  509.0  start
2   Abashiri  2011  516.0  start
3    Sapporo  2011  507.0  start
4    Obihiro  2011  503.0  start

In [17]:
melted_median = melted.drop(columns='year').groupby(['city_eng', 'kind']).median().reset_index()
melted_median.head(4)

# or: 
# melted.groupby(['city_eng', 'kind']).doy.median().reset_index()

   city_eng   kind    doy
0  Abashiri   full  511.0
1  Abashiri  start  508.0
2     Akita   full  420.0
3     Akita  start  416.0

In [42]:
pivoted = pd.pivot(melted_median, index='city_eng', columns='kind', values='doy').reset_index()

In [43]:
pivoted.head(1)

kind  city_eng   full  start
0     Abashiri  511.0  508.0

In [44]:
pivoted['full'] = pivoted.full.apply(lambda doy: datetime(2000, 1, 1) + timedelta(days=doy))
pivoted['start'] = pivoted.start.apply(lambda doy: datetime(2000, 1, 1) + timedelta(days=doy))

In [45]:
pivoted

kind          city_eng                full      start
0             Abashiri 2001-05-26 00:00:00 2001-05-23
1                Akita 2001-02-24 00:00:00 2001-02-20
2               Aomori 2001-03-01 00:00:00 2001-02-24
3            Asahikawa 2001-05-19 00:00:00 2001-05-18
4               Choshi 2001-02-09 00:00:00 2000-11-26
5                Fukui 2001-02-10 00:00:00 2000-11-27
6              Fukuoka 2000-11-26 00:00:00 2000-11-17
7            Fukushima 2001-02-14 00:00:00 2001-02-10
8                 Gifu 2001-02-05 00:00:00 2000-11-19
9             Hakodate 2001-05-16 00:00:00 2001-03-04
10              Hikone 2001-02-12 00:00:00 2000-11-27
11           Hiroshima 2001-02-06 00:00:00 2000-11-19
12            Ishigaki 2000-07-28 00:00:00 2000-04-27
13           Kagoshima 2001-02-09 00:00:00 2000-11-21
14            Kanazawa 2001-02-11 00:00:00 2001-02-05
15                Kobe 2001-02-08 00:00:00 2000-11-23
16                Kofu 2000-11-27 00:00:00 2000-11-20
17            Kumagaya 2001-02-07 00:00:00 2000-11-21
18            Kumamoto 2001-02-05 00:00:00 2000-11-17
19             Kushiro 2001-06-03 00:00:00 2001-05-31
20               Kyoto 2001-02-07 00:00:00 2000-11-21
21               Kōchi 2000-11-24 00:00:00 2000-11-17
22            Maebashi 2001-02-08 00:00:00 2000-11-24
23              Matsue 2001-02-07 00:00:00 2000-11-22
24           Matsuyama 2001-02-06 00:00:00 2000-11-20
25    Minamidaitō-jima 2000-07-24 00:00:00 2000-05-02
26                Mito 2001-02-09 00:00:00 2000-11-25
27         Miyako-jima 2000-07-24 12:00:00 2000-04-29
28            Miyazaki 2001-02-06 00:00:00 2000-11-18
29             Morioka 2001-02-25 00:00:00 2001-02-21
30             Muroran 2001-05-22 00:00:00 2001-05-18
31              Nagano 2001-02-19 00:00:00 2001-02-14
32            Nagasaki 2001-02-05 00:00:00 2000-11-18
33              Nagoya 2001-02-06 00:00:00 2000-11-19
34                Naha 2000-07-24 00:00:00 2000-04-25
35                Nara 2001-02-08 00:00:00 2000-11-23
36                Naze 2000-07-21 00:00:00 2000-05-01
37             Niigata 2001-02-16 00:00:00 2001-02-11
38             Obihiro 2001-05-18 00:00:00 2001-05-16
39             Okayama 2001-02-08 00:00:00 2000-11-22
40               Osaka 2001-02-07 00:00:00 2000-11-22
41                Saga 2000-11-27 00:00:00 2000-11-19
42             Sapporo 2001-05-19 00:00:00 2001-05-16
43              Sendai 2001-02-16 00:00:00 2001-02-11
44         Shimonoseki 2001-02-06 00:00:00 2000-11-21
45            Shizuoka 2000-11-27 00:00:00 2000-11-18
46           Takamatsu 2001-02-08 00:00:00 2000-11-22
47           Tokushima 2001-02-07 00:00:00 2000-11-23
48               Tokyo 2000-11-25 00:00:00 2000-11-17
49             Tottori 2001-02-08 00:00:00 2000-11-22
50              Toyama 2001-02-12 00:00:00 2001-02-06
51                 Tsu 2001-02-06 00:00:00 2000-11-24
52          Utsunomiya 2001-02-08 00:00:00 2000-11-24
53            Wakayama 2001-02-05 00:00:00 2000-11-20
54            Wakkanai 2001-05-30 00:00:00 2001-05-27
55            Yamagata 2001-02-21 00:00:00 2001-02-17
56            Yokohama 2000-11-27 00:00:00 2000-11-19
57                Ōita 2001-02-07 00:00:00 2000-11-19