# Lede Summer 2019 Project - Part 1
## Make a database of female and male Paralympic all-time medallists (summer)
* get years only, not start_year and end_year

In [1]:
import requests
import pandas as pd
import re
import numpy as np
import os

import itertools

from bs4 import BeautifulSoup
from selenium import webdriver

#### LINKS:
Summer:
https://www.paralympic.org/sdms4/hira/web/multiMedallists/type/summer

Winter:
https://www.paralympic.org/sdms4/hira/web/multiMedallists/type/winter

In [2]:
url = 'https://www.paralympic.org/sdms4/hira/web/multiMedallists/type/summer'
response = requests.get(url)
para_doc = BeautifulSoup(response.text)

### Get names of paralympic athletes

In [3]:
# Get athlete names (full name)
para_info = para_doc.find_all('tr')
full_name = []

for athlete in para_info:
    try:
        full_name.append(athlete.find_all('td')[1].string)
    except:
        pass

In [ ]:
# full_name

In [4]:
# Get athlete LAST names
para_info = para_doc.find_all('tr')
last_names = []

for name in full_name:
    last_names.append(re.findall(r'([A-Z]+[ -]?[A-Z]{2,}).*', name)[0])

# last_names

In [5]:
# Get athlete FIRST names
para_info = para_doc.find_all('tr')
first_names = []

for athlete in para_info:
    try:
        first_names.append(athlete.find_all('td')[1].string.split(' ')[-1])
    except:
        pass
    
# first_names

### Get citizenship (country code) of paralympic athletes

In [6]:
# Get citizenships of paralympic athletes

para_info = para_doc.find_all('tr')
para_citizenship = []

for athlete in para_info:
    try:
        citizenship = athlete.find_all('td')[3]
        no_citizenship = len(citizenship.find_all('a'))    
        if no_citizenship == 1:
            para_citizenship.append(citizenship.text)

    ## Check for multinationals
        elif no_citizenship == 2:
            multi = []
            multi.append(citizenship.text[:3])
            multi.append(citizenship.text[3:])
            para_citizenship.append(multi)
        else:
            print('Not single or dual citizenship, or there is some other problem')
    except:
        pass
    
# para_citizenship

### Get the year/s during which the paralympic medallists competed

In [5]:
para_info = para_doc.find_all('tr')

years_dict = {}
years = []
for athlete in para_info:
    try:
        year = athlete.find_all('td')[4].string
        years.append(year)
    except:
        pass
# years

### Get total number of medals for paralympic athletes

In [8]:
para_info = para_doc.find_all('tr')
medals_total = []

for athlete in para_info:
    try:
        medals_total.append(athlete.find_all('td')[8].text)
    except:
        pass

# medals_total

### Gold medals for paralympic athletes

In [9]:
para_info = para_doc.find_all('tr')
medals_gold = []

for athlete in para_info:
    try:
        medals_gold.append(athlete.find_all('td')[5].text)
    except:
        pass

# medals_gold

### Silver medals for paralympic athletes

In [10]:
para_info = para_doc.find_all('tr')
medals_silver = []

for athlete in para_info:
    try:
        medals_silver.append(athlete.find_all('td')[6].text)
    except:
        pass

# medals_silver

### Bronze medals for paralympic athletes

In [11]:
para_info = para_doc.find_all('tr')
medals_bronze = []

for athlete in para_info:
    try:
        medals_bronze.append(athlete.find_all('td')[7].text)
    except:
        pass

# medals_bronze

### Assign gender for para athletes

In [ ]:
para_info = para_doc.find_all('tr')
gender = []

for athlete in para_info:
    try:
        gender.append(athlete.find_previous('h2').text.strip())
    except:
        pass

# gender

### Put all para info into one list of dictionaries, then into a dataframe

In [13]:
para_info = para_doc.find_all('tr')
rows = []

for athlete in para_info:
    row = {}
    try:
        full_name = athlete.find_all('td')[1].string.strip()
        row['full_name'] = full_name
        row['last_name'] = re.findall(r'([A-Z]+[ -]?[A-Z]{2,}).*', full_name)[0]
        row['first_name'] = athlete.find_all('td')[1].string.split(' ')[-1]
        
        row['medals_total'] = athlete.find_all('td')[8].text.strip()
        row['medals_gold'] = athlete.find_all('td')[5].text.strip()
        row['medals_silver'] = athlete.find_all('td')[6].text.strip()
        row['medals_bronze'] = athlete.find_all('td')[7].text.strip()
        
        row['gender'] = athlete.find_previous('h2').text.strip()
        row['other_info'] = ''
        row['alternate_name'] = ''
        
        years = athlete.find_all('td')[4].string
        row['years'] = years

        citizenship = athlete.find_all('td')[3]
        no_citizenship = len(citizenship.find_all('a'))    
        if no_citizenship == 1:
            row['citizenship'] = citizenship.text.strip()

    ## Check for multinationals
        elif no_citizenship == 2:
            if 'GER' in citizenship.text.strip():
                row['citizenship'] = citizenship.text[:3]
            else:
                multi = []
                multi.append(citizenship.text[:3])
                multi.append(citizenship.text[3:])
                row['citizenship'] = multi
        else:
            row['citizenship'] = 'Not single or dual citizenship, or there is some other problem'
    except:
        pass
    rows.append(row)

rows

[{},
 {'full_name': 'JAKOBSSON Jonas',
  'last_name': 'JAKOBSSON',
  'first_name': 'Jonas',
  'medals_total': '27',
  'medals_gold': '17',
  'medals_silver': '2',
  'medals_bronze': '8',
  'gender': 'Men',
  'other_info': '',
  'alternate_name': '',
  'years': '1980-2012',
  'citizenship': 'SWE'},
 {'full_name': 'MARSON Roberto',
  'last_name': 'MARSON',
  'first_name': 'Roberto',
  'medals_total': '26',
  'medals_gold': '16',
  'medals_silver': '7',
  'medals_bronze': '3',
  'gender': 'Men',
  'other_info': '',
  'alternate_name': '',
  'years': '1964-1976',
  'citizenship': 'ITA'},
 {'full_name': 'KENNY Mike',
  'last_name': 'KENNY',
  'first_name': 'Mike',
  'medals_total': '16',
  'medals_gold': '16',
  'medals_silver': '0',
  'medals_bronze': '0',
  'gender': 'Men',
  'other_info': '',
  'alternate_name': '',
  'years': '1976-1988',
  'citizenship': 'GBR'},
 {'full_name': 'DIAS Daniel',
  'last_name': 'DIAS',
  'first_name': 'Daniel',
  'medals_total': '24',
  'medals_gold': '14',
  'medals_silver': '7',
  'medals_bronze': '3',
  'gender': 'Men',
  'other_info': '',
  'alternate_name': '',
  'years': '2008-2016',
  'citizenship': 'BRA'},
 {'full_name': 'FREI Heinz',
  'last_name': 'FREI',
  'first_name': 'Heinz',
  'medals_total': '26',
  'medals_gold': '14',
  'medals_silver': '6',
  'medals_bronze': '6',
  'gender': 'Men',
  'other_info': '',
  'alternate_name': '',
  'years': '1984-2012',
  'citizenship': 'SUI'},
 {'full_name': 'NIETLISPACH Franz',
  'last_name': 'NIETLISPACH',
  'first_name': 'Franz',
  'medals_total': '22',
  'medals_gold': '14',
  'medals_silver': '6',
  'medals_bronze': '2',
  'gender': 'Men',
  'other_info': '',
  'alternate_name': '',
  'years': '1980-2004',
  'citizenship': 'SUI'},
 {'full_name': 'EDGSON Michael',
  'last_name': 'EDGSON',
  'first_name': 'Michael',
  'medals_total': '16',
  'medals_gold': '14',
  'medals_silver': '2',
  'medals_bronze': '0',
  'gender': 'Men',
  'other_info': '',
  'alternate_name': '',
  'years': '1984-1992',
  'citizenship': 'CAN'},
 {'full_name': 'COWDREY Matthew',
  'last_name': 'COWDREY',
  'first_name': 'Matthew',
  'medals_total': '23',
  'medals_gold': '13',
  'medals_silver': '7',
  'medals_bronze': '3',
  'gender': 'Men',
  'other_info': '',
  'alternate_name': '',
  'years': '2004-2012',
  'citizenship': 'AUS'},
 {'full_name': 'TRONDSEN Erling',
  'last_name': 'TRONDSEN',
  'first_name': 'Erling',
  'medals_total': '20',
  'medals_gold': '13',
  'medals_silver': '6',
  'medals_bronze': '1',
  'gender': 'Men',
  'other_info': '',
  'alternate_name': '',
  'years': '1976-1992',
  'citizenship': 'NOR'},
 {'full_name': 'DODSON Bart',
  'last_name': 'DODSON',
  'first_name': 'Bart',
  'medals_total': '20',
  'medals_gold': '13',
  'medals_silver': '3',
  'medals_bronze': '4',
  'gender': 'Men',
  'other_info': '',
  'alternate_name': '',
  'years': '1984-2000',
  'citizenship': 'USA'},
 {'full_name': 'MORGAN John',
  'last_name': 'MORGAN',
  'first_name': 'John',
  'medals_total': '15',
  'medals_gold': '13',
  'medals_silver': '2',
  'medals_bronze': '0',
  'gender': 'Men',
  'other_info': '',
  'alternate_name': '',
  'years': '1984-1992',
  'citizenship': 'USA'},
 {'full_name': 'HENKER Siegmar',
  'last_name': 'HENKER',
  'first_name': 'Siegmar',
  'medals_total': '23',
  'medals_gold': '12',
  'medals_silver': '9',
  'medals_bronze': '2',
  'gender': 'Men',
  'other_info': '',
  'alternate_name': '',
  'years': '1976-1992',
  'citizenship': 'FRG'},
 {'full_name': 'BERGMAN Uri',
  'last_name': 'BERGMAN',
  'first_name': 'Uri',
  'medals_total': '14',
  'medals_gold': '12',
  'medals_silver': '1',
  'medals_bronze': '1',
  'gender': 'Men',
  'other_info': '',
  'alternate_name': '',
  'years': '1976-1988',
  'citizenship': 'ISR'},
 {'full_name': 'MCISAAC Timothy',
  'last_name': 'MCISAAC',
  'first_name': 'Timothy',
  'medals_total': '21',
  'medals_gold': '11',
  'medals_silver': '6',
  'medals_bronze': '4',
  'gender': 'Men',
  'other_info': '',
  'alternate_name': '',
  'years': '1976-1988',
  'citizenship': 'CAN'},
 {'full_name': 'ROBERTS David',
  'last_name': 'ROBERTS',
  'first_name': 'David',
  'medals_total': '16',
  'medals_gold': '11',
  'medals_silver': '4',
  'medals_bronze': '1',
  'gender': 'Men',
  'other_info': '',
  'alternate_name': '',
  'years': '2000-2008',
  'citizenship': 'GBR'},
 {'full_name': 'PEARSON Lee',
  'last_name': 'PEARSON',
  'first_name': 'Lee',
  'medals_total': '14',
  'medals_gold': '11',
  'medals_silver': '2',
  'medals_bronze': '1',
  'gender': 'Men',
  'other_info': '',
  'alternate_name': '',
  'years': '2000-2016',
  'citizenship': 'GBR'},
 {'full_name': 'BOKI Ihar',
  'last_name': 'BOKI',
  'first_name': 'Ihar',
  'medals_total': '13',
  'medals_gold': '11',
  'medals_silver': '1',
  'medals_bronze': '1',
  'gender': 'Men',
  'other_info': '',
  'alternate_name': '',
  'years': '2012-2016',
  'citizenship': 'BLR'},
 {'full_name': 'STEIN Ron',
  'last_name': 'STEIN',
  'first_name': 'Ron',
  'medals_total': '11',
  'medals_gold': '11',
  'medals_silver': '0',
  'medals_bronze': '0',
  'gender': 'Men',
  'other_info': '',
  'alternate_name': '',
  'years': '1960-1964',
  'citizenship': 'USA'},
 {'full_name': 'PAWLOWSKI Arkadiusz',
  'last_name': 'PAWLOWSKI',
  'first_name': 'Arkadiusz',
  'medals_total': '18',
  'medals_gold': '10',
  'medals_silver': '3',
  'medals_bronze': '5',
  'gender': 'Men',
  'other_info': '',
  'alternate_name': '',
  'years': '1980-2000',
  'citizenship': 'POL'},
 {'full_name': 'OWEN Ed',
  'last_name': 'OWEN',
  'first_name': 'Ed',
  'medals_total': '14',
  'medals_gold': '10',
  'medals_silver': '2',
  'medals_bronze': '2',
  'gender': 'Men',
  'other_info': '',
  'alternate_name': '',
  'years': '1964-1988',
  'citizenship': 'USA'},
 {},
 {'full_name': 'ZORN Trischa',
  'last_name': 'ZORN',
  'first_name': 'Trischa',
  'medals_total': '46',
  'medals_gold': '32',
  'medals_silver': '9',
  'medals_bronze': '5',
  'gender': 'Women',
  'other_info': '',
  'alternate_name': '',
  'years': '1980-2004',
  'citizenship': 'USA'},
 {'full_name': 'HESS Beatrice',
  'last_name': 'HESS',
  'first_name': 'Beatrice',
  'medals_total': '25',
  'medals_gold': '20',
  'medals_silver': '5',
  'medals_bronze': '0',
  'gender': 'Women',
  'other_info': '',
  'alternate_name': '',
  'years': '1984-2004',
  'citizenship': 'FRA'},
 {'full_name': 'NARITA Mayumi',
  'last_name': 'NARITA',
  'first_name': 'Mayumi',
  'medals_total': '20',
  'medals_gold': '15',
  'medals_silver': '3',
  'medals_bronze': '2',
  'gender': 'Women',
  'other_info': '',
  'alternate_name': '',
  'years': '1996-2004',
  'citizenship': 'JPN'},
 {'full_name': 'STOREY Sarah',
  'last_name': 'STOREY',
  'first_name': 'Sarah',
  'medals_total': '25',
  'medals_gold': '14',
  'medals_silver': '8',
  'medals_bronze': '3',
  'gender': 'Women',
  'other_info': '',
  'alternate_name': '',
  'years': '1992-2016',
  'citizenship': 'GBR'},
 {'full_name': 'RUBIN-ROSENBAUM Zipora',
  'last_name': 'RUBIN-ROSENBAUM',
  'first_name': 'Zipora',
  'medals_total': '26',
  'medals_gold': '14',
  'medals_silver': '6',
  'medals_bronze': '6',
  'gender': 'Women',
  'other_info': '',
  'alternate_name': '',
  'years': '1964-1988',
  'citizenship': 'ISR'},
 {'full_name': 'PETITCLERC Chantal',
  'last_name': 'PETITCLERC',
  'first_name': 'Chantal',
  'medals_total': '21',
  'medals_gold': '14',
  'medals_silver': '5',
  'medals_bronze': '2',
  'gender': 'Women',
  'other_info': '',
  'alternate_name': '',
  'years': '1992-2008',
  'citizenship': 'CAN'},
 {'full_name': 'POPOVICH Erin',
  'last_name': 'POPOVICH',
  'first_name': 'Erin',
  'medals_total': '19',
  'medals_gold': '14',
  'medals_silver': '5',
  'medals_bronze': '0',
  'gender': 'Women',
  'other_info': '',
  'alternate_name': '',
  'years': '2000-2008',
  'citizenship': 'USA'},
 {'full_name': 'LONG Jessica',
  'last_name': 'LONG',
  'first_name': 'Jessica',
  'medals_total': '23',
  'medals_gold': '13',
  'medals_silver': '6',
  'medals_bronze': '4',
  'gender': 'Women',
  'other_info': '',
  'alternate_name': '',
  'years': '2004-2016',
  'citizenship': 'USA'},
 {'full_name': 'HENGST Claudia',
  'last_name': 'HENGST',
  'first_name': 'Claudia',
  'medals_total': '25',
  'medals_gold': '13',
  'medals_silver': '4',
  'medals_bronze': '8',
  'gender': 'Women',
  'other_info': '',
  'alternate_name': '',
  'years': '1988-2004',
  'citizenship': 'FRG'},
 {'full_name': 'DU TOIT Natalie',
  'last_name': 'DU TOIT',
  'first_name': 'Natalie',
  'medals_total': '15',
  'medals_gold': '13',
  'medals_silver': '2',
  'medals_bronze': '0',
  'gender': 'Women',
  'other_info': '',
  'alternate_name': '',
  'years': '2004-2012',
  'citizenship': 'RSA'},
 {'full_name': 'SANTAMARTA Purificacion',
  'last_name': 'SANTAMARTA',
  'first_name': 'Purificacion',
  'medals_total': '16',
  'medals_gold': '11',
  'medals_silver': '4',
  'medals_bronze': '1',
  'gender': 'Women',
  'other_info': '',
  'alternate_name': '',
  'years': '1980-2004',
  'citizenship': 'ESP'},
 {'full_name': 'GREY-THOMPSON Tanni',
  'last_name': 'GREY-THOMPSON',
  'first_name': 'Tanni',
  'medals_total': '16',
  'medals_gold': '11',
  'medals_silver': '4',
  'medals_bronze': '1',
  'gender': 'Women',
  'other_info': '',
  'alternate_name': '',
  'years': '1988-2004',
  'citizenship': 'GBR'},
 {'full_name': 'HARRIMAN Margaret',
  'last_name': 'HARRIMAN',
  'first_name': 'Margaret',
  'medals_total': '17',
  'medals_gold': '11',
  'medals_silver': '2',
  'medals_bronze': '4',
  'gender': 'Women',
  'other_info': '',
  'alternate_name': '',
  'years': '1960-1996',
  'citizenship': ['RHO', 'RSA']},
 {'full_name': 'NEWSTEAD Isabel',
  'last_name': 'NEWSTEAD',
  'first_name': 'Isabel',
  'medals_total': '18',
  'medals_gold': '10',
  'medals_silver': '4',
  'medals_bronze': '4',
  'gender': 'Women',
  'other_info': '',
  'alternate_name': '',
  'years': '1980-2004',
  'citizenship': 'GBR'},
 {'full_name': 'SCUTTI Maria',
  'last_name': 'SCUTTI',
  'first_name': 'Maria',
  'medals_total': '15',
  'medals_gold': '10',
  'medals_silver': '3',
  'medals_bronze': '2',
  'gender': 'Women',
  'other_info': '',
  'alternate_name': '',
  'years': '1960',
  'citizenship': 'ITA'},
 {'full_name': 'TJERNBERG Magdalena',
  'last_name': 'TJERNBERG',
  'first_name': 'Magdalena',
  'medals_total': '13',
  'medals_gold': '10',
  'medals_silver': '3',
  'medals_bronze': '0',
  'gender': 'Women',
  'other_info': '',
  'alternate_name': '',
  'years': '1984-1988',
  'citizenship': 'SWE'},
 {'full_name': 'SCOTT Elizabeth',
  'last_name': 'SCOTT',
  'first_name': 'Elizabeth',
  'medals_total': '17',
  'medals_gold': '10',
  'medals_silver': '2',
  'medals_bronze': '5',
  'gender': 'Women',
  'other_info': '',
  'alternate_name': '',
  'years': '1992-2000',
  'citizenship': 'USA'},
 {'full_name': 'RUITER Marijke',
  'last_name': 'RUITER',
  'first_name': 'Marijke',
  'medals_total': '11',
  'medals_gold': '10',
  'medals_silver': '0',
  'medals_bronze': '1',
  'gender': 'Women',
  'other_info': '',
  'alternate_name': '',
  'years': '1972-1988',
  'citizenship': 'NED'},
 {'full_name': 'PASCOE Sophie',
  'last_name': 'PASCOE',
  'first_name': 'Sophie',
  'medals_total': '15',
  'medals_gold': '9',
  'medals_silver': '6',
  'medals_bronze': '0',
  'gender': 'Women',
  'other_info': '',
  'alternate_name': '',
  'years': '2008-2016',
  'citizenship': 'NZL'},
 {'full_name': 'HANSEN Connie',
  'last_name': 'HANSEN',
  'first_name': 'Connie',
  'medals_total': '14',
  'medals_gold': '9',
  'medals_silver': '4',
  'medals_bronze': '1',
  'gender': 'Women',
  'other_info': '',
  'alternate_name': '',
  'years': '1984-1992',
  'citizenship': 'DEN'}]

In [14]:
# Remove empty rows
rows = list(filter(None,rows))

In [15]:
df_summer = pd.DataFrame(rows)
df_summer

,alternate_name,citizenship,first_name,full_name,gender,last_name,medals_bronze,medals_gold,medals_silver,medals_total,other_info,years
0,,SWE,Jonas,JAKOBSSON Jonas,Men,JAKOBSSON,8,17,2,27,,1980-2012
1,,ITA,Roberto,MARSON Roberto,Men,MARSON,3,16,7,26,,1964-1976
2,,GBR,Mike,KENNY Mike,Men,KENNY,0,16,0,16,,1976-1988
3,,BRA,Daniel,DIAS Daniel,Men,DIAS,3,14,7,24,,2008-2016
4,,SUI,Heinz,FREI Heinz,Men,FREI,6,14,6,26,,1984-2012
5,,SUI,Franz,NIETLISPACH Franz,Men,NIETLISPACH,2,14,6,22,,1980-2004
6,,CAN,Michael,EDGSON Michael,Men,EDGSON,0,14,2,16,,1984-1992
7,,AUS,Matthew,COWDREY Matthew,Men,COWDREY,3,13,7,23,,2004-2012
8,,NOR,Erling,TRONDSEN Erling,Men,TRONDSEN,1,13,6,20,,1976-1992
9,,USA,Bart,DODSON Bart,Men,DODSON,4,13,3,20,,1984-2000
10,,USA,John,MORGAN John,Men,MORGAN,0,13,2,15,,1984-1992
11,,FRG,Siegmar,HENKER Siegmar,Men,HENKER,2,12,9,23,,1976-1992
12,,ISR,Uri,BERGMAN Uri,Men,BERGMAN,1,12,1,14,,1976-1988
13,,CAN,Timothy,MCISAAC Timothy,Men,MCISAAC,4,11,6,21,,1976-1988
14,,GBR,David,ROBERTS David,Men,ROBERTS,1,11,4,16,,2000-2008
15,,GBR,Lee,PEARSON Lee,Men,PEARSON,1,11,2,14,,2000-2016
16,,BLR,Ihar,BOKI Ihar,Men,BOKI,1,11,1,13,,2012-2016
17,,USA,Ron,STEIN Ron,Men,STEIN,0,11,0,11,,1960-1964
18,,POL,Arkadiusz,PAWLOWSKI Arkadiusz,Men,PAWLOWSKI,5,10,3,18,,1980-2000
19,,USA,Ed,OWEN Ed,Men,OWEN,2,10,2,14,,1964-1988
20,,USA,Trischa,ZORN Trischa,Women,ZORN,5,32,9,46,,1980-2004
21,,FRA,Beatrice,HESS Beatrice,Women,HESS,0,20,5,25,,1984-2004
22,,JPN,Mayumi,NARITA Mayumi,Women,NARITA,2,15,3,20,,1996-2004
23,,GBR,Sarah,STOREY Sarah,Women,STOREY,3,14,8,25,,1992-2016
24,,ISR,Zipora,RUBIN-ROSENBAUM Zipora,Women,RUBIN-ROSENBAUM,6,14,6,26,,1964-1988
25,,CAN,Chantal,PETITCLERC Chantal,Women,PETITCLERC,2,14,5,21,,1992-2008
26,,USA,Erin,POPOVICH Erin,Women,POPOVICH,0,14,5,19,,2000-2008
27,,USA,Jessica,LONG Jessica,Women,LONG,4,13,6,23,,2004-2016
28,,FRG,Claudia,HENGST Claudia,Women,HENGST,8,13,4,25,,1988-2004
29,,RSA,Natalie,DU TOIT Natalie,Women,DU TOIT,0,13,2,15,,2004-2012
30,,ESP,Purificacion,SANTAMARTA Purificacion,Women,SANTAMARTA,1,11,4,16,,1980-2004
31,,GBR,Tanni,GREY-THOMPSON Tanni,Women,GREY-THOMPSON,1,11,4,16,,1988-2004
32,,"[RHO, RSA]",Margaret,HARRIMAN Margaret,Women,HARRIMAN,4,11,2,17,,1960-1996
33,,GBR,Isabel,NEWSTEAD Isabel,Women,NEWSTEAD,4,10,4,18,,1980-2004
34,,ITA,Maria,SCUTTI Maria,Women,SCUTTI,2,10,3,15,,1960
35,,SWE,Magdalena,TJERNBERG Magdalena,Women,TJERNBERG,0,10,3,13,,1984-1988
36,,USA,Elizabeth,SCOTT Elizabeth,Women,SCOTT,5,10,2,17,,1992-2000
37,,NED,Marijke,RUITER Marijke,Women,RUITER,1,10,0,11,,1972-1988
38,,NZL,Sophie,PASCOE Sophie,Women,PASCOE,0,9,6,15,,2008-2016
39,,DEN,Connie,HANSEN Connie,Women,HANSEN,1,9,4,14,,1984-1992

In [17]:
df_summer.to_csv('para_summer.csv', index=False)

## Manually edit the csv to create duplicate rows for HARRIMAN Margaret (double citizen)
* Make duplicate row for Margaret Harriman -- one with full_name as HARRIMAN Margaret (RHO) and the other as HARRIMAN Margaret (RSA) so that the dataframes merge properly when joining with the df of country codes
* Manually add the comment 'Also competed representing Rhodesia' or 'Also competed representing South Africa' in the other_info column
* Re-import the cleaned csv

In [20]:
df_summer_clean = pd.read_csv('para_summer_cleaned.csv')

In [21]:
df_summer_clean.shape

(41, 12)

## The sport event is missing from this website!
* Add events for every athlete in a new text file, making sure to name Harriman's duplicate rows as HARRIMAN Margaret (RHO) or HARRIMAN Margaret (RSA) so dataframes merge properly

In [22]:
event = pd.read_csv('para_summer_events.txt', sep=',')

In [23]:
event.shape

(41, 2)

In [24]:
merged = df_summer_clean.merge(event, how='inner', left_on='full_name', right_on='name')
merged = merged.drop(columns = 'name')

In [25]:
merged.shape

(41, 13)

In [26]:
merged

,alternate_name,citizenship,first_name,full_name,gender,last_name,medals_bronze,medals_gold,medals_silver,medals_total,other_info,years,event
0,NaN,SWE,Jonas,JAKOBSSON Jonas,Men,JAKOBSSON,8,17,2,27,NaN,1980-2012,Para shooting
1,NaN,ITA,Roberto,MARSON Roberto,Men,MARSON,3,16,7,26,NaN,1964-1976,Wheelchair fencing
2,NaN,GBR,Mike,KENNY Mike,Men,KENNY,0,16,0,16,NaN,1976-1988,Para swimming
3,NaN,BRA,Daniel,DIAS Daniel,Men,DIAS,3,14,7,24,NaN,2008-2016,Para swimming
4,NaN,SUI,Heinz,FREI Heinz,Men,FREI,6,14,6,26,NaN,1984-2012,Para athletics
5,NaN,SUI,Franz,NIETLISPACH Franz,Men,NIETLISPACH,2,14,6,22,NaN,1980-2004,Para athletics | handcycling
6,NaN,CAN,Michael,EDGSON Michael,Men,EDGSON,0,14,2,16,NaN,1984-1992,Para swimming
7,NaN,AUS,Matthew,COWDREY Matthew,Men,COWDREY,3,13,7,23,NaN,2004-2012,Para swimming
8,NaN,NOR,Erling,TRONDSEN Erling,Men,TRONDSEN,1,13,6,20,NaN,1976-1992,Para swimming
9,NaN,USA,Bart,DODSON Bart,Men,DODSON,4,13,3,20,NaN,1984-2000,Para athletics
10,NaN,USA,John,MORGAN John,Men,MORGAN,0,13,2,15,NaN,1984-1992,Para swimming
11,NaN,FRG,Siegmar,HENKER Siegmar,Men,HENKER,2,12,9,23,NaN,1976-1992,Para shooting
12,NaN,ISR,Uri,BERGMAN Uri,Men,BERGMAN,1,12,1,14,NaN,1976-1988,Para swimming
13,NaN,CAN,Timothy,MCISAAC Timothy,Men,MCISAAC,4,11,6,21,NaN,1976-1988,Para swimming
14,NaN,GBR,David,ROBERTS David,Men,ROBERTS,1,11,4,16,NaN,2000-2008,Para swimming
15,NaN,GBR,Lee,PEARSON Lee,Men,PEARSON,1,11,2,14,NaN,2000-2016,Para equestrian
16,NaN,BLR,Ihar,BOKI Ihar,Men,BOKI,1,11,1,13,NaN,2012-2016,Para swimming
17,NaN,USA,Ron,STEIN Ron,Men,STEIN,0,11,0,11,NaN,1960-1964,Wheelchair basketball
18,NaN,POL,Arkadiusz,PAWLOWSKI Arkadiusz,Men,PAWLOWSKI,5,10,3,18,NaN,1980-2000,Para swimming
19,NaN,USA,Ed,OWEN Ed,Men,OWEN,2,10,2,14,NaN,1964-1988,Para swimming | athletics
20,NaN,USA,Trischa,ZORN Trischa,Women,ZORN,5,32,9,46,NaN,1980-2004,Para swimming
21,NaN,FRA,Beatrice,HESS Beatrice,Women,HESS,0,20,5,25,NaN,1984-2004,Para swimming
22,NaN,JPN,Mayumi,NARITA Mayumi,Women,NARITA,2,15,3,20,NaN,1996-2004,Para swimming
23,NaN,GBR,Sarah,STOREY Sarah,Women,STOREY,3,14,8,25,NaN,1992-2016,Para swimming | cycling
24,NaN,ISR,Zipora,RUBIN-ROSENBAUM Zipora,Women,RUBIN-ROSENBAUM,6,14,6,26,NaN,1964-1988,Para athletics | wheelchair basketball | swimm...
25,NaN,CAN,Chantal,PETITCLERC Chantal,Women,PETITCLERC,2,14,5,21,NaN,1992-2008,Para athletics | cycling
26,NaN,USA,Erin,POPOVICH Erin,Women,POPOVICH,0,14,5,19,NaN,2000-2008,Para swimming
27,NaN,USA,Jessica,LONG Jessica,Women,LONG,4,13,6,23,NaN,2004-2016,Para swimming
28,NaN,FRG,Claudia,HENGST Claudia,Women,HENGST,8,13,4,25,NaN,1988-2004,Para swimming
29,NaN,RSA,Natalie,DU TOIT Natalie,Women,DU TOIT,0,13,2,15,NaN,2004-2012,Para swimming
30,NaN,ESP,Purificacion,SANTAMARTA Purificacion,Women,SANTAMARTA,1,11,4,16,NaN,1980-2004,Para athletics
31,NaN,GBR,Tanni,GREY-THOMPSON Tanni,Women,GREY-THOMPSON,1,11,4,16,NaN,1988-2004,Para athletics
32,NaN,RHO,Margaret,HARRIMAN Margaret (RHO),Women,HARRIMAN,4,11,2,17,Also competed representing South Africa,1960-1996,Para archery | dartchery | swimming (Summer Ol...
33,NaN,RSA,Margaret,HARRIMAN Margaret (RSA),Women,HARRIMAN,4,11,2,17,Also competed representing Rhodesia,1960-1996,Para archery | dartchery | lawn bowls
34,NaN,GBR,Isabel,NEWSTEAD Isabel,Women,NEWSTEAD,4,10,4,18,NaN,1980-2004,Para swimming | shooting | track and field
35,NaN,ITA,Maria,SCUTTI Maria,Women,SCUTTI,2,10,3,15,NaN,1960,Para athletics | swimming | fencing | table te...
36,NaN,SWE,Magdalena,TJERNBERG Magdalena,Women,TJERNBERG,0,10,3,13,NaN,1984-1988,Para swimming
37,NaN,USA,Elizabeth,SCOTT Elizabeth,Women,SCOTT,5,10,2,17,NaN,1992-2000,Para swimming
38,NaN,NED,Marijke,RUITER Marijke,Women,RUITER,1,10,0,11,NaN,1972-1988,Para swimming
39,NaN,NZL,Sophie,PASCOE Sophie,Women,PASCOE,0,9,6,15,NaN,2008-2016,Para swimming
40,NaN,DEN,Connie,HANSEN Connie,Women,HANSEN,1,9,4,14,NaN,1984-1992,Para athletics

In [27]:
merged['game_type'] = 'Paralympic'
merged['season'] = 'Summer'

## Clean full_name for Paralympic athletes so that it's formatted as first_name LAST_NAME

In [28]:
merged['full_name'] = merged.first_name + ' ' + merged.last_name
merged

,alternate_name,citizenship,first_name,full_name,gender,last_name,medals_bronze,medals_gold,medals_silver,medals_total,other_info,years,event,game_type,season
0,NaN,SWE,Jonas,Jonas JAKOBSSON,Men,JAKOBSSON,8,17,2,27,NaN,1980-2012,Para shooting,Paralympic,Summer
1,NaN,ITA,Roberto,Roberto MARSON,Men,MARSON,3,16,7,26,NaN,1964-1976,Wheelchair fencing,Paralympic,Summer
2,NaN,GBR,Mike,Mike KENNY,Men,KENNY,0,16,0,16,NaN,1976-1988,Para swimming,Paralympic,Summer
3,NaN,BRA,Daniel,Daniel DIAS,Men,DIAS,3,14,7,24,NaN,2008-2016,Para swimming,Paralympic,Summer
4,NaN,SUI,Heinz,Heinz FREI,Men,FREI,6,14,6,26,NaN,1984-2012,Para athletics,Paralympic,Summer
5,NaN,SUI,Franz,Franz NIETLISPACH,Men,NIETLISPACH,2,14,6,22,NaN,1980-2004,Para athletics | handcycling,Paralympic,Summer
6,NaN,CAN,Michael,Michael EDGSON,Men,EDGSON,0,14,2,16,NaN,1984-1992,Para swimming,Paralympic,Summer
7,NaN,AUS,Matthew,Matthew COWDREY,Men,COWDREY,3,13,7,23,NaN,2004-2012,Para swimming,Paralympic,Summer
8,NaN,NOR,Erling,Erling TRONDSEN,Men,TRONDSEN,1,13,6,20,NaN,1976-1992,Para swimming,Paralympic,Summer
9,NaN,USA,Bart,Bart DODSON,Men,DODSON,4,13,3,20,NaN,1984-2000,Para athletics,Paralympic,Summer
10,NaN,USA,John,John MORGAN,Men,MORGAN,0,13,2,15,NaN,1984-1992,Para swimming,Paralympic,Summer
11,NaN,FRG,Siegmar,Siegmar HENKER,Men,HENKER,2,12,9,23,NaN,1976-1992,Para shooting,Paralympic,Summer
12,NaN,ISR,Uri,Uri BERGMAN,Men,BERGMAN,1,12,1,14,NaN,1976-1988,Para swimming,Paralympic,Summer
13,NaN,CAN,Timothy,Timothy MCISAAC,Men,MCISAAC,4,11,6,21,NaN,1976-1988,Para swimming,Paralympic,Summer
14,NaN,GBR,David,David ROBERTS,Men,ROBERTS,1,11,4,16,NaN,2000-2008,Para swimming,Paralympic,Summer
15,NaN,GBR,Lee,Lee PEARSON,Men,PEARSON,1,11,2,14,NaN,2000-2016,Para equestrian,Paralympic,Summer
16,NaN,BLR,Ihar,Ihar BOKI,Men,BOKI,1,11,1,13,NaN,2012-2016,Para swimming,Paralympic,Summer
17,NaN,USA,Ron,Ron STEIN,Men,STEIN,0,11,0,11,NaN,1960-1964,Wheelchair basketball,Paralympic,Summer
18,NaN,POL,Arkadiusz,Arkadiusz PAWLOWSKI,Men,PAWLOWSKI,5,10,3,18,NaN,1980-2000,Para swimming,Paralympic,Summer
19,NaN,USA,Ed,Ed OWEN,Men,OWEN,2,10,2,14,NaN,1964-1988,Para swimming | athletics,Paralympic,Summer
20,NaN,USA,Trischa,Trischa ZORN,Women,ZORN,5,32,9,46,NaN,1980-2004,Para swimming,Paralympic,Summer
21,NaN,FRA,Beatrice,Beatrice HESS,Women,HESS,0,20,5,25,NaN,1984-2004,Para swimming,Paralympic,Summer
22,NaN,JPN,Mayumi,Mayumi NARITA,Women,NARITA,2,15,3,20,NaN,1996-2004,Para swimming,Paralympic,Summer
23,NaN,GBR,Sarah,Sarah STOREY,Women,STOREY,3,14,8,25,NaN,1992-2016,Para swimming | cycling,Paralympic,Summer
24,NaN,ISR,Zipora,Zipora RUBIN-ROSENBAUM,Women,RUBIN-ROSENBAUM,6,14,6,26,NaN,1964-1988,Para athletics | wheelchair basketball | swimm...,Paralympic,Summer
25,NaN,CAN,Chantal,Chantal PETITCLERC,Women,PETITCLERC,2,14,5,21,NaN,1992-2008,Para athletics | cycling,Paralympic,Summer
26,NaN,USA,Erin,Erin POPOVICH,Women,POPOVICH,0,14,5,19,NaN,2000-2008,Para swimming,Paralympic,Summer
27,NaN,USA,Jessica,Jessica LONG,Women,LONG,4,13,6,23,NaN,2004-2016,Para swimming,Paralympic,Summer
28,NaN,FRG,Claudia,Claudia HENGST,Women,HENGST,8,13,4,25,NaN,1988-2004,Para swimming,Paralympic,Summer
29,NaN,RSA,Natalie,Natalie DU TOIT,Women,DU TOIT,0,13,2,15,NaN,2004-2012,Para swimming,Paralympic,Summer
30,NaN,ESP,Purificacion,Purificacion SANTAMARTA,Women,SANTAMARTA,1,11,4,16,NaN,1980-2004,Para athletics,Paralympic,Summer
31,NaN,GBR,Tanni,Tanni GREY-THOMPSON,Women,GREY-THOMPSON,1,11,4,16,NaN,1988-2004,Para athletics,Paralympic,Summer
32,NaN,RHO,Margaret,Margaret HARRIMAN,Women,HARRIMAN,4,11,2,17,Also competed representing South Africa,1960-1996,Para archery | dartchery | swimming (Summer Ol...,Paralympic,Summer
33,NaN,RSA,Margaret,Margaret HARRIMAN,Women,HARRIMAN,4,11,2,17,Also competed representing Rhodesia,1960-1996,Para archery | dartchery | lawn bowls,Paralympic,Summer
34,NaN,GBR,Isabel,Isabel NEWSTEAD,Women,NEWSTEAD,4,10,4,18,NaN,1980-2004,Para swimming | shooting | track and field,Paralympic,Summer
35,NaN,ITA,Maria,Maria SCUTTI,Women,SCUTTI,2,10,3,15,NaN,1960,Para athletics | swimming | fencing | table te...,Paralympic,Summer
36,NaN,SWE,Magdalena,Magdalena TJERNBERG,Women,TJERNBERG,0,10,3,13,NaN,1984-1988,Para swimming,Paralympic,Summer
37,NaN,USA,Elizabeth,Elizabeth SCOTT,Women,SCOTT,5,10,2,17,NaN,1992-2000,Para swimming,Paralympic,Summer
38,NaN,NED,Marijke,Marijke RUITER,Women,RUITER,1,10,0,11,NaN,1972-1988,Para swimming,Paralympic,Summer
39,NaN,NZL,Sophie,Sophie PASCOE,Women,PASCOE,0,9,6,15,NaN,2008-2016,Para swimming,Paralympic,Summer
40,NaN,DEN,Connie,Connie HANSEN,Women,HANSEN,1,9,4,14,NaN,1984-1992,Para athletics,Paralympic,Summer

In [29]:
merged.to_csv('para_summer_complete.csv', index=False)